@import "colors";

body {
	color: $text_color;
	background-color: $bg_color;
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	margin: 0;
}

.header-container {

	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index: 1000;
	background-color: $bg_color;
	padding-left:120px;
}

#dgui-container{
	position:fixed;
	top:79px;
	right:20px;
	z-index: 1200;
}
a {
	text-decoration: none;
	color: $link_color;
	outline: none;
}

a:hover,
a:focus {
	color: $hover_link_color;
	outline: none;
}